body {
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
}

.brandName {
	font-size: 1.5rem;
}

.information {
	padding-left: 15px;
}

.information .cppImgs {
	background: #f2f2f2;
}

.navbar-brand {
	font-weight: 700;
}

.summaryIntro {
	font-size: 1.15rem;
}

.topInfo .name {
	font-weight: 600;
	font-size: 2.75rem;
}

.topInfo {
	background: #ffffff;
}

#header {
	background: url(imgs/scenery-1.jpg) no-repeat;
	background-size: cover;
}

.fab {
	color: #0077B5;
}

.blurb .lead {
	font-size: 1.2rem;
}

.experience-even {
	background-color: #f2f2f2;
}

.skills {
	background: #737373;
	color: #d9d9d9;
}

.skillsHR {
	background: #d9d9d9;
}

.copyright {
	font-size: 0.8rem;
	list-style: none;
	color: rgba(0, 0, 0, 0.4);
	margin-bottom: 50px;
}

.imgCrsl {
	max-height: 800px;
}

.photocaption {
	color: #000000;
	font-weight: 600;
}

.carousel-inner {
	font-size: 1.5rem;
}